/**
 * Plugin Name: Custom icons
 * Author:      DerN3rd (PSOURCE)
 *
 * CSS styles for ADMIN page of the custom icons addon.
 */
.marker-icon,
.marker-icon-32 {
  border: 1px solid #EEE;
}

.marker-icon-32 {
  max-width: 32px;
  max-height: 32px;
}


/* 403900-1511247429-ai */